<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <!-- render 'layout/header' loads the header -->
    <%= render 'layouts/header' %>
    <div class="container">
      <!-- ok so this yield means load the content of the page -->
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>